</head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<body>
    <div class="popup">
        <h1 class="header1"><i class="fas fa-shopping-cart"></i> Better Choices</h1>

        
        <div class="tags">
            <span class="tag">Contains Peanuts</span>
            <span class="tag">Contains Lactose</span>
            <span class="tag">Caution - Affecting Preconditions</span>
        </div>
        
        <button type="submit" class="btn">Find Alternatives</button>
        <button type="submit" class="btn">Add to Cart Anyway</button>
    </div>
</body>
</html>